.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  min-width: 655px;
}

.nav {
  width: 100%;
  background-color: #ab2a19;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-contents{
  width: auto;
  height: auto;
  position: relative;
  left: -165px;

}

.shelfie{
  font-size: 30px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  color: white;
}

.shelves {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.shelf{
  background-color: #d34735;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  color: white;
  width: 500px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

}

a {
  text-decoration: none;
}

.image{
  width: 50px;
  top: 13px;
  margin-right: 10px;
  position: relative;
}